
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Styles genericos para componente Estilos.jsx */
.css-box {
  background-color: coral;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin: 10px 0;
}

.dynamic-box {
  background: gray;
  color: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.dynamic-box.active {
  background: limegreen;
}

